	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/06/2019 15:16
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon_1.eot");
  src: url("../fonts/Flaticon.eot#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon_1.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-ruble:before { content: "\f100"; }
.flaticon-calendar:before { content: "\f101"; }
.flaticon-pin:before { content: "\f102"; }
.flaticon-calendar-1:before { content: "\f103"; }
.flaticon-check:before { content: "\f104"; }
.flaticon-cross:before { content: "\f105"; }
.flaticon-delete:before { content: "\f106"; }
.flaticon-adduser:before { content: "\f107"; }
.flaticon-down:before { content: "\f108"; }
.flaticon-accident:before { content: "\f109"; }
.flaticon-left-quot:before { content: "\f10a"; }
.flaticon-operatop:before { content: "\f10b"; }
.flaticon-address:before { content: "\f10c"; }
.flaticon-geo-mark:before { content: "\f10d"; }
.flaticon-luggage:before { content: "\f10e"; }
.flaticon-pdf:before { content: "\f10f"; }
.flaticon-civil-liability:before { content: "\f110"; }
.flaticon-info-round:before { content: "\f111"; }
.flaticon-medicine:before { content: "\f112"; }
.flaticon-right-quot:before { content: "\f113"; }
.flaticon-event:before { content: "\f114"; }
.flaticon-trip-cancelation:before { content: "\f115"; }