@charset "UTF-8";
@font-face {
  font-family: "neosans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/NeoSansPro/NeoSansPro-Light.eot");
  src: url("../fonts/NeoSansPro/NeoSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansPro/NeoSansPro-Light.woff") format("woff"), url("../fonts/NeoSansPro/NeoSansPro-Light.ttf") format("truetype"); }

@font-face {
  font-family: "neosans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/NeoSansPro/NeoSansPro-Regular.eot");
  src: url("../fonts/NeoSansPro/NeoSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansPro/NeoSansPro-Regular.woff") format("woff"), url("../fonts/NeoSansPro/NeoSansPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "neosans";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/NeoSansPro/NeoSansPro-Medium.eot");
  src: url("../fonts/NeoSansPro/NeoSansPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansPro/NeoSansPro-Medium.woff") format("woff"), url("../fonts/NeoSansPro/NeoSansPro-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "neosans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/NeoSansPro/NeoSansPro-Bold.eot");
  src: url("../fonts/NeoSansPro/NeoSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansPro/NeoSansPro-Bold.woff") format("woff"), url("../fonts/NeoSansPro/NeoSansPro-Bold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "neosans", sans-serif;
  color: #333333; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover {
    text-decoration: none; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.rounded-padding {
  padding: 0 30px; }

button {
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "neosans", sans-serif; }

#agentform {
  color: #003c78;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  cursor: pointer;
  font-family: "neosans", sans-serif;
  padding: 10px;
  border: 1px solid #78a7cd;
  border-radius: 4px;
  font-weight: 400;
  white-space: nowrap; }
  #agentform:hover {
    color: white;
    background: #003c78; }

h1 {
  font-size: 76px; }

h2 {
  font-size: 36px; }

header {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0; }
  header .container {
    padding: 0 30px;
    height: 80px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    header .container:before, header .container:after {
      display: none; }
  header .logo {
    margin: 0 0 0 10px; }
    header .logo .logo-img, header .logo .logo-caption {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  header ul.main-menu, header .logo {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  header.fixed .container {
    height: 80px; }
  header.fixed .logo {
    padding-left: 12px;
    margin-top: 20px; }
    header.fixed .logo .logo-img {
      width: 108px; }
    header.fixed .logo .logo-caption {
      -webkit-transform: scale(0);
      transform: scale(0); }

.logo .logo-img {
  width: 105px; }

.main-menu {
  padding: 0;
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 16px 0 auto; }
  .main-menu li {
    display: inline-block; }
    .main-menu li:first-child {
      padding: 0; }
    .main-menu li.active a {
      border-bottom: 2px solid #beb400;
      color: #A0A0A0; }
    .main-menu li a {
      display: block;
      width: 100%;
      height: auto;
      font-family: "neosans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      color: #323232;
      -webkit-transition: .2s;
      transition: .2s;
      padding: 10px 12px;
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent; }
      .main-menu li a:hover {
        border-bottom: 2px solid #beb400;
        text-decoration: none; }
    .main-menu li.agents-login {
      position: relative; }
    .main-menu li.my-erv a {
      background-color: #beb400;
      color: #fff; }

.mobilemenutoggle {
  display: none; }

.insurance-country {
  background: url("../images/bg-banner.png") no-repeat center;
    background-size: cover;
  padding: 220px 0 48px; }
  .insurance-country h1 {
    color: #fff; }
  .insurance-country .h2-optima {
    color: #fff;
    margin: 32px 0 86px; }

.insurance-country-turkey {
  background: url("../images/bg-banner2.jpg") no-repeat center;
    background-size: cover; }

.ui-datepicker-calendar .highlight {
  background-color: #b0d7ed !important; }

.insurance-country__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.fomr-optima {
  width: 464px;
  height: auto;
  padding: 28px 24px;
  background: rgba(51, 51, 51, 0.5);
  border-radius: 4px; }

.label_country {
  color: #a0a0a0;
  font-family: "neosans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 20px; }

.form_input_all_country .block_input_country {
  border-bottom: 2px solid #a0a0a0; }

.block_input_country {
  position: relative;
  width: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .block_input_country:before {
    color: #beb400;
    font-size: 24px;
    top: 15px;
    left: 16px;
    position: absolute;
    z-index: 1;
    margin: 0; }

.input_country {
  border: none;
  outline: none;
  color: #333;
  font-family: "neosans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
  z-index: 2;
  background: transparent; }

.input_date {
  border: none;
  outline: none;
  color: #333;
  font-family: "neosans", sans-serif;
  font-size: 18px;
  font-weight: 300; }

.wrapp_form-inputs {
  padding-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.form_input_all_country {
  width: 200px; }
  .form_input_all_country .input_form_title {
    color: #A0A0A0;
    font-family: "neosans", sans-serif;
    font-size: 15px;
    border: none;
    padding: 0 56px 0 15px;
    display: inline-block;
    font-weight: normal;
    background: #EBEBEB;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 56px;
    border-radius: 4px 4px 0 0; }
  .form_input_all_country label {
    width: 100%;
    display: inline-block;
    color: #fff;
    margin: 0 0 5px;
    font-size: 12px; }

.block_form-prices {
  padding-top: 45px; }

.block_form-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.block-prices-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  color: #fff;
  font-size: 36px;
  margin-bottom: 0;
  font-weight: normal; }
  .block-prices-info span {
    font-size: 45px;
    font-weight: normal; }
  .block-prices-info .span-rub {
    font-size: 36px;
    font-weight: normal;
    margin: 0 0 0 3px; }

.flaticon-ruble:before {
  font-size: 30px;
  color: #fff;
  margin-left: 2px; }

.lable_optima-text {
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.3px;
  margin: 0 0 5px;
  display: inline-block; }

label.focused-label {
  top: -20px;
  left: 0;
  font-size: 14px; }

.input_country + label.focused-label {
  top: 0; }

.btns_form-prices button {
  border: none;
  background: #beb400;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  border-radius: 3px;
  line-height: 55px;
  padding: 0 60px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.btns_form-prices.active-btn button {
  background: #beb400; }
  .btns_form-prices.active-btn button:hover {
    background: rgba(190, 180, 0, 0.8); }

.btns_form-prices button:disabled {
  background: #a0a0a0; }

.select2-container .select2-selection--multiple {
  min-height: 56px; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: none;
    border-bottom: 2px solid #BEB400; }

.select2-container--default .select2-selection--multiple {
  border: none;
    border-bottom: 2px solid #a0a0a0;
  background: #EBEBEB;
  border-radius: 4px 4px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 10px 10px 0 56px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: none;
    background: #CFCFCF;
    font-size: 18px;
    font-weight: 300;
    padding: 6px 6px 6px 8px; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    margin: 0; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  float: right;
  margin: -3px 0 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #A0A0A0;
  font-weight: normal; }

.ui-datepicker-trigger {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 19px;
  z-index: 10; }
  .ui-datepicker-trigger.insurance-date {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    bottom: 25px;
    right: 12px; }

/* дейтпикер на главной */
#ui-datepicker-div {
  z-index: 9999 !important; }

.ui-datepicker-div {
  z-index: 9999; }

.ui-datepicker {
  padding: .2em .2em 0;
  background-color: white;
  border: 1px solid #c0c0c0;
  -webkit-box-shadow: 0 0 6px 2px #d8d8d8;
          box-shadow: 0 0 6px 2px #d8d8d8;
  display: none; }

.form__col .form__input.form__input--to, .form__col .form__input.form__input--from {
  padding-bottom: 0;
  background-color: white; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  width: 50px;
  height: 20px;
  cursor: pointer;
  top: 8px;
  font-size: 18px; }

.ui-datepicker-prev {
  left: 1rem;
  top: 1rem; }

.ui-datepicker-next {
  right: 1rem;
  top: 1rem; }

.ui-corner-all {
  color: #323232; }

.formError {
  z-index: 90; }

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  margin-left: 0; }

.ui-datepicker-trigger.insurance-date {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  cursor: pointer;
  bottom: 25px;
  right: 12px; }

.ui-datepicker-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }

.ui-datepicker-month {
  color: #333333;
  font-family: "neosans", sans-serif;
  font-size: 18px;
  font-weight: 300; }

.ui-datepicker-year {
  color: #A0A0A0;
  font-size: 18px;
  font-weight: 300; }

.ui-datepicker-calendar > thead > tr > th {
  font-size: 16px;
  font-family: "neosans", sans-serif;
  color: #A0A0A0;
  font-weight: 100;
  height: 30px;
  vertical-align: middle; }
  .ui-datepicker-calendar > thead > tr > th.ui-datepicker-week-end {
    color: #333333; }

.ui-datepicker-calendar td {
  text-align: center;
  vertical-align: middle; }

.ui-datepicker td.ui-state-disabled span {
  color: #9e9e9e; }

.ui-datepicker-calendar td a {
  display: block;
  width: 49px;
  height: 49px;
  border-radius: 5px;
  line-height: 49px;
  margin: 5px;
  font-size: 1.62em;
  color: #333333; }

.ui-datepicker-calendar td.ui-datepicker-week-end a {
  font-weight: 400; }

.ui-datepicker-calendar td a:hover, .ui-datepicker-calendar td a.ui-state-active {
  background-color: #beb400;
  color: #fff; }

.ui-datepicker-group {
  padding: 15px; }

footer.rounded-padding {
  padding: 36px 30px 40px; }

.block-all-contact-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer_logo_erv {
  margin-top: 30px;
  margin-left: 34px;
  display: inline-block; }

.block-lists-footer p {
  line-height: 20px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 9px; }

.ul-lists-footer {
  margin: 0;
  padding: 0;
  list-style: none; }
  .ul-lists-footer .lists-footer-item {
    margin-bottom: 2px; }
    .ul-lists-footer .lists-footer-item a {
      color: #003c78;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: .025em; }

.list-icon-footer {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 84px; }
  .list-icon-footer li {
    margin-right: 15px; }

.footer-address-contact .list-icon-footer li a {
  width: 32px;
  height: 32px;
  display: inline-block; }
  .footer-address-contact .list-icon-footer li a:before {
    font-size: 33px;
    color: #a0a0a0;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out; }
  .footer-address-contact .list-icon-footer li a:hover:before {
    color: #6fb3d5; }

.footer-address-contact p {
  font-size: 12px;
  line-height: 16px;
  color: #333;
  font-weight: 400;
  letter-spacing: .025em; }
  .footer-address-contact p a {
    font-size: 12px;
    line-height: 16px;
    color: #003c78;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .025em; }

.wrapper-info-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px; }

.block-copy-footer {
  margin: 33px 0 0; }
  .block-copy-footer p {
    color: #a0a0a0;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: .025em; }

.block-all-contact-footer .all-contanct-elements:nth-child(2) {
  padding-left: 59px; }

.insurance-country__description {
  background: rgba(51, 51, 51, 0.5);
  border-radius: 4px;
  color: #fff;
  margin: 0 0 0 112px;
  padding: 20px 40px 24px 16px; }

.insurance-country__description_box {
  margin: 0 0 28px; }
  .insurance-country__description_box:last-child {
    margin: 0; }
  .insurance-country__description_box span {
    font-size: 12px;
    margin: 0 0 5px;
    display: block;
    color: #BEB400; }
  .insurance-country__description_box p {
    font-size: 24px; }
    .insurance-country__description_box p span {
      color: #fff; }
    .insurance-country__description_box p .conversion {
      color: inherit; }
  .insurance-country__description_box .insurance-country__description_status {
    font-size: 14px; }
  .insurance-country__description_box .description p {
    font-size: 18px; }

.insurance-country__description_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 5px 0; }
  .insurance-country__description_list .icon-fire-zero:before {
    color: #A0A0A0; }

.tooltip-box {
  width: 272px;
  height: 140px;
  margin: 270px 0 0 auto;
  background: url("../images/tooltip-bg.svg") no-repeat center;
    background-size: 100%;
  padding: 24px 8px 40px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.tooltip-box__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.tooltip-box__icon {
  width: 38px;
  min-width: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 22px 0 0; }

.tooltip-box__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 164px;
  width: 100%; }
  .tooltip-box__text h3 {
    font-size: 32px;
    max-width: 120px; }
    .tooltip-box__text h3 span {
      font-size: 16px;
      display: block;
      line-height: 1; }

.icon-question {
  font-size: 20px;
  color: #78A7CD; }

.icon-fire {
  font-size: 24px; }

.icon-simple:before {
  font-family: 'simple-line-icons' !important; }

.description-box {
  font-size: 18px;
  font-weight: 300; }
  .description-box p {
    margin: 0 0 20px; }
    .description-box p:last-child {
      margin: 0; }

.about-country {
  padding: 128px 0; }

.about-country__title {
  width: 100%;
  margin: 0 0 36px;
  font-size: 48px;
  color: #333333; }

.about-country__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.about-country__left {
  width: 752px; }

.about-country__image {
  width: 100%;
  margin: 0 0 40px;
  height: 376px;
  border-radius: 8px;
  overflow: hidden; }
  .about-country__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.about-country__info {
  width: calc(100% - 752px);
  padding: 0 0 0 97px; }
  .about-country__info p {
    font-size: 20px; }
  .about-country__info .insurance-country__description_box {
    margin: 0 0 24px; }
    .about-country__info .insurance-country__description_box .color-default {
      color: #333; }
    .about-country__info .insurance-country__description_box .description {
      font-size: 18px;
      max-width: 272px; }
    .about-country__info .insurance-country__description_box .icon {
      margin: 0 0 25px; }

.icon-location-pin {
  font-size: 36px;
  color: #BEB400;
  margin: 0 0 23px; }

.details-description {
  margin: 128px 0 0;
  padding: 0 0 0 90px; }
  .details-description .list-cube {
    padding: 0 0 0 40px;
    margin: 18px 0 24px; }
  .details-description .list-number {
    margin: 32px 0 40px;
    padding: 0 0 0 120px; }

.about-country__subtitle {
  margin: 0 0 32px;
  font-size: 32px;
  width: 100%; }

.list-cube {
  font-weight: normal; }
  .list-cube li {
    position: relative;
    padding: 0 0 0 20px;
    margin: 0 0 5px; }
    .list-cube li:last-child {
      margin: 0; }
    .list-cube li:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: 10px;
      height: 10px;
      background: #BEB400; }

.list-number {
  counter-reset: item; }
  .list-number li {
    margin: 0 0 36px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .list-number li:last-child {
      margin: 0; }
    .list-number li:before {
      counter-increment: item;
      display: inline-block;
      content: counters(item, ".");
      color: #BEB400;
      margin: 0 45px 0 0;
      font-size: 32px;
      font-weight: normal; }

.btn-calculate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 128px auto 0;
  background: #BEB400;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 56px;
  padding: 0 14px;
  border-radius: 4px;
  font-size: 24px; }
  .btn-calculate:hover {
    background: #a0a0a0; }

.about-country__info_mobile, .logo-mobile__footer {
  display: none; }

.insurance-case {
  padding: 140px 0 56px;
  background: url("../images/bg-banner2.png") no-repeat center;
    background-size: cover;
  color: #fff; }
  .insurance-case .container {
    max-width: 860px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.title-page {
  font-size: 32px;
  margin: 0 0 18px; }

.insurance-case-block__description {
  font-size: 18px;
  font-weight: 300;
  max-width: 560px;
  width: 100%; }

.insurance-case-block {
  width: calc(100% - 32px);
  padding: 0 0 0 16px; }

.insurance-case__icon {
  width: 32px;
  font-size: 32px;
  color: #BEB400; }

.insurance-case__instruction {
  padding: 40px 0 64px; }
  .insurance-case__instruction .container {
    max-width: 765px; }

.share {
  color: #333333;
  font-size: 12px; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 12px 0 0; }
  .list-social li {
    margin: 0 12px 0 0; }
    .list-social li:last-child {
      margin: 0; }
  .list-social a {
    width: 32px;
    height: 32px; }
    .list-social a:hover {
      opacity: .7; }

.insurance-case__instruction-content {
  margin: 64px 0 0; }
  .insurance-case__instruction-content .list-number {
    font-size: 14px;
    font-weight: 300;
    color: #333333;
    margin: 0 0 80px; }
    .insurance-case__instruction-content .list-number li {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .insurance-case__instruction-content .list-number li:before {
        margin: 0 16px 0 0;
        border: 1px solid #78A7CD;
          border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        width: 32px;
        min-width: 32px;
        height: 32px;
        color: #78A7CD;
        font-weight: normal;
        font-size: 18px; }
      .insurance-case__instruction-content .list-number li:first-child {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
  .insurance-case__instruction-content .phone {
    display: block;
    font-size: 20px;
    color: #333333;
    font-weight: normal;
    margin: 6px 0 0; }
  .insurance-case__instruction-content strong {
    font-weight: normal; }
  .insurance-case__instruction-content .description-box a {
    display: inline;
    font-weight: normal; }

.subtitle {
  font-size: 32px;
  margin: 0 0 24px; }

.color-blue {
  color: #003C78; }

.euro-holding {
  padding: 152px 0 64px; }

ul.breadcrumbs {
  letter-spacing: .05em;
  font-size: 12px;
  color: #9f9f9f; }
  ul.breadcrumbs li {
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: 300; }
    ul.breadcrumbs li a {
      color: #323232;
      display: inline-block; }
  ul.breadcrumbs .rarr {
    margin: 0 0 0 3px; }

.euro-holding__wrapper {
  padding: 0 0 0 90px;
  margin: 40px 0 0; }

.euro-holding__title {
  margin: 0 0 8px;
  font-size: 40px;
  color: #333333; }

.euro-holding__description {
  margin: 0 0 40px;
  font-size: 32px;
  color: #78A7CD; }

.euro-holding__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.euro-holding__text {
  width: calc(100% - 272px);
  padding: 0 100px 0 0; }

.image-holding {
  margin: 40px 0;
  width: 100%;
  position: relative; }
  .image-holding img {
    width: 100%; }

.image-holding__title {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  text-align: center;
  z-index: 1;
  padding: 16px 20px;
  font-size: 40px; }

.attention-box {
  width: 100%;
  margin: 56px 0 0;
  border: 2px solid #94BCDA;
  padding: 24px 20px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  font-weight: 300; }
  .attention-box strong {
    font-weight: 500; }

.attention-box__icon {
  font-size: 40px;
  color: #B0D2E8; }

.attention-box__text {
  width: calc(100% - 40px);
  padding: 0 0 0 20px; }

.euro-holding__info {
  width: 272px; }

.euro-holding__info_box {
  width: 100%;
  font-size: 14px;
  color: #333333;
  margin: 0 0 40px; }
  .euro-holding__info_box:last-child {
    margin: 0; }
  .euro-holding__info_box p, .euro-holding__info_box a {
    font-size: 24px; }
  .euro-holding__info_box .phone {
    color: #333333; }
  .euro-holding__info_box .phone-mobile {
    font-size: 18px;
    color: #A0A0A0; }
  .euro-holding__info_box .schedule {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .euro-holding__info_box .schedule p:after {
      content: '/';
      display: inline-block;
      color: #A0A0A0;
      margin: 0 3px; }
    .euro-holding__info_box .schedule p:last-child:after {
      display: none; }

.web {
  color: #003C78; }

.insurance-country-russian {
  padding: 229px 0 48px;
  background: url("../images/bg-banner3.jpg") no-repeat center;
    background-size: cover;
  position: relative; }
  .insurance-country-russian:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background: #223880;
    opacity: .6; }
  .insurance-country-russian h1 {
    font-size: 60px; }
  .insurance-country-russian > * {
    position: relative;
    z-index: 1; }
  .insurance-country-russian .h2-optima {
    margin: 12px 0 239px;
    font-size: 28px; }
  .insurance-country-russian .fomr-optima {
    width: 656px;
    background: rgba(190, 180, 0, 0.67);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px); }
    .insurance-country-russian .fomr-optima .btns_form-prices {
      width: 175px; }
      .insurance-country-russian .fomr-optima .btns_form-prices button {
        width: 100%;
        padding: 0 25px;
        font-size: 18px;
        font-weight: normal; }
  .insurance-country-russian .wrapp_form-inputs {
    padding: 0; }
    .insurance-country-russian .wrapp_form-inputs .form_input_all_country {
      width: 176px; }
      .insurance-country-russian .wrapp_form-inputs .form_input_all_country:first-child {
        width: 232px; }
  .insurance-country-russian .tooltip-box {
    margin: 0; }
  .insurance-country-russian .insurance-country__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .insurance-country-russian .block-prices-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    letter-spacing: 0.025em;
    font-size: 12px;
    font-weight: normal;
    width: 175px; }
    .insurance-country-russian .block-prices-info span {
      font-size: 28px; }
  .insurance-country-russian .block_form-prices {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 24px 0 0; }
    .insurance-country-russian .block_form-prices .input_form_title {
      text-align: right; }
    .insurance-country-russian .block_form-prices .ui-datepicker-trigger {
      color: #A0A0A0;
      font-size: 18px;
      text-align: center;
      line-height: 24px; }
    .insurance-country-russian .block_form-prices .form_input_all_country {
      width: 232px; }
      .insurance-country-russian .block_form-prices .form_input_all_country label, .insurance-country-russian .block_form-prices .form_input_all_country .block_input_country {
        max-width: 156px; }

.advantages-insurance {
  padding: 128px 0; }

.advantages-insurance__title {
  font-size: 32px;
  margin: 0 0 64px; }

.advantages-insurance__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.advantages-insurance__box {
  position: relative;
  padding: 0 0 28px;
  max-width: 255px;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px; }
  .advantages-insurance__box:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 64px;
    height: 1px;
    background: #BEB400; }
  .advantages-insurance__box h3 {
    margin: 0 0 20px;
    font-size: 20px; }

.advantages-insurance__icon {
  height: 64px;
  width: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 30px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1100px) {
  h1 {
    font-size: 52px; }
  .insurance-country .h2-optima {
    font-size: 24px;
    margin: 32px 0 64px; }
  .fomr-optima {
    padding: 20px 24px;
    width: 389px; }
  .form_input_all_country {
    width: 164px; }
  .block-prices-info {
    font-size: 28px; }
    .block-prices-info .price-calculated {
      font-size: 36px; }
    .block-prices-info .span-rub {
      font-size: 28px; }
  .btns_form-prices button {
    width: 164px;
    padding: 0 10px;
    line-height: 48px;
    font-size: 16px; }
  .ui-datepicker-trigger {
    width: 16px;
    height: 16px; }
  .form_input_all_country .input_form_title {
    height: 48px;
    padding: 0 48px 0 12px; }
  .select2-container .select2-selection--multiple {
    min-height: 48px; }
  .block_input_country:before {
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    left: 14px; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 6px 6px 0 48px; }
  .wrapp_form-inputs {
    padding-top: 17px; }
  .insurance-country__description {
    font-size: 12px;
    margin: 0 0 0 97px;
    padding: 20px 16px 46px 16px; }
    .insurance-country__description p {
      font-size: 20px; }
  .icon-fire {
    font-size: 20px; }
  .block_form-prices {
    padding-top: 25px; }
  .tooltip-box {
    margin: auto 0 0 auto;
    width: 227px;
    height: 117px;
    padding: 20px 17px 37px 23px; }
  .tooltip-box__icon {
    width: 31px;
    height: 33px;
    margin: 0 18px 0 0; }
  .tooltip-box__text h3 {
    font-size: 24px;
    max-width: 90px; }
    .tooltip-box__text h3 span {
      font-size: 12px; }
  .insurance-country {
    padding: 136px 0 48px; }
  .about-country__left {
    width: 551px; }
  .about-country__image {
    height: 274px; }
  .about-country__info {
    width: calc(100% - 551px);
    padding: 0 0 0 95px; }
  .about-country {
    padding: 64px 0 128px; }
  .details-description {
    padding: 0; }
  .details-description .list-cube {
    padding: 0 0 0 30px; }
  .details-description .list-number {
    padding: 0 0 0 30px; }
  .list-number li {
    margin: 0 0 28px; }
    .list-number li:last-child {
      margin: 0; }
    .list-number li:before {
      margin: 0 26px 0 0; }
  .euro-holding__description {
    font-size: 24px; }
  .euro-holding__info_box p, .euro-holding__info_box a {
    font-size: 20px; }
  .euro-holding__info_box {
    margin: 0 0 32px; }
  .euro-holding__info_box .phone-mobile {
    font-size: 16px; }
  .image-holding__title {
    font-size: 32px; }
  .euro-holding__text {
    width: calc(100% - 227px);
    padding: 0 97px 0 0; }
  .euro-holding__info {
    width: 227px; }
  .euro-holding {
    padding: 112px 0 64px; } }

@media screen and (max-width: 991px) {
  header .logo {
    margin-top: 0; }
  .main-menu {
    padding: 0;
    display: none; }
  header .container {
    padding: 20px;
    position: relative; }
  header.fixed .logo {
    margin-top: 0; }
  .mobilemenutoggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px; }
  ul.main-menu:not(.others) {
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background: #f3f3f3;
    height: auto;
    width: 100%;
    padding: 10px 5px; }
  header.fixed ul.main-menu:not(.others) {
    padding: 10px 5px; }
  ul.main-menu li {
    margin-left: 5px;
    margin-right: 5px; }
  .block-all-contact-footer .all-contanct-elements:nth-child(2) {
    padding: 0 0 0 30px; }
  .block-all-contact-footer .all-contanct-elements:last-child {
    max-width: 250px; }
  .footer_logo_erv {
    margin-left: 0;
    max-width: 150px; }
  footer.rounded-padding {
    padding: 34px 30px 40px; }
  .euro-holding__wrapper {
    padding: 0;
    margin: 30px 0 0; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 920px) {
  .insurance-country__description {
    margin: 0 0 0 40px; }
  .fomr-optima {
    width: 100%;
    max-width: 320px;
    padding: 20px 16px; }
  .form_input_all_country {
    width: 188px; }
    .form_input_all_country:nth-child(2) {
      width: 164px;
      margin: 24px 0 0; }
  .wrapp_form-inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .block_form-prices {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .block-prices-info {
    margin: 0 auto 20px; } }

@media only screen and (max-width: 850px) {
  .about-country__left {
    width: 450px; }
  .about-country__info {
    width: calc(100% - 450px);
    padding: 0 0 0 40px; } }

@media only screen and (max-width: 780px) {
  .insurance-country__description {
    margin: 0 0 0 20px; } }

@media only screen and (max-width: 768px) {
  .tooltip-box {
    margin: 40px auto 0;
    width: 272px;
    height: 140px;
    padding: 24px 22px 40px 28px; }
  .tooltip-box__icon {
    width: 38px;
    margin: 0 22px 0 0; }
  .tooltip-box__text h3 {
    font-size: 32px;
    max-width: none; }
    .tooltip-box__text h3 span {
      font-size: 16px; }
  .about-country__left {
    width: 100%; }
  .about-country__info {
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding: 0; }
  .about-country {
    padding: 56px 0 64px; }
  .about-country__title {
    font-size: 32px;
    margin: 0 0 24px; }
  .about-country__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .about-country__info .insurance-country__description_box {
      width: 50%;
      margin: 0 0 24px; }
      .about-country__info .insurance-country__description_box:last-child, .about-country__info .insurance-country__description_box:nth-child(4) {
        display: none; }
    .about-country__info p {
      font-size: 16px; }
  .footer_logo_erv {
    max-width: 110px; }
  .block-all-contact-footer .all-contanct-elements:last-child {
    max-width: 180px; }
  .euro-holding__description {
    font-size: 22px; }
  .euro-holding__title {
    font-size: 30px; }
  .euro-holding__text {
    padding: 0;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .euro-holding__info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 30px; }
  .euro-holding__info_box {
    margin: 0 0 30px;
    width: 50%; }
  .image-holding {
    margin: 30px 0; }
  .image-holding__title {
    font-size: 26px; }
  .attention-box {
    font-size: 16px;
    margin: 30px 0 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
  .insurance-country__description {
    display: none; }
  .fomr-optima {
    margin: 0 auto;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.5); }
  .block_form-prices {
    padding-top: 20px; }
  .block-prices-info {
    font-size: 20px; }
    .block-prices-info .price-calculated {
      font-size: 32px; }
    .block-prices-info .span-rub {
      font-size: 20px; }
  .wrapp_form-inputs {
    padding-top: 24px; }
  .block-all-contact-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .block-all-contact-footer .all-contanct-elements {
    margin: 0 0 37px;
    width: 50%; }
    .block-all-contact-footer .all-contanct-elements:last-child {
      max-width: none;
      margin: 0;
      width: 100%; }
    .block-all-contact-footer .all-contanct-elements:nth-child(2) {
      padding: 0; }
    .block-all-contact-footer .all-contanct-elements:first-child {
      display: none; }
  .wrapper-info-footer {
    margin: 32px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .logo-mobile__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 96px;
    margin: 56px 0 40px; }
  .list-icon-footer {
    margin: 0; }
  .footer-address-contact__social {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .footer-address-contact p {
    font-weight: 300; } }

@media only screen and (max-width: 480px) {
  .mobilemenutoggle {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .others {
    display: none; }
  header .container {
    height: auto;
    padding: 16px 28px; }
  .logo .logo-img {
    width: 80px; }
  h1 {
    font-size: 32px; }
  .insurance-country h1 {
    color: #333333;
    font-weight: 500; }
  .insurance-country .h2-optima {
    margin: 24px 0 32px;
    color: #333333;
    font-size: 14px;
    font-weight: 500; }
  .insurance-country {
    padding: 100px 0 32px; }
    .insurance-country .rounded-padding {
      padding: 0 16px; }
  .description-box {
    font-size: 14px; }
  .about-country__image {
    border-radius: 0;
    height: 320px;
    width: calc(100% + 60px);
    margin: 0 -30px 40px; }
  .about-country__info_mobile {
    display: block;
    width: calc(100% + 60px);
    margin: 64px -30px;
    background: #EBEBEB;
    padding: 0 30px; }
    .about-country__info_mobile .insurance-country__description_box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding: 30px 0;
      margin: 0;
      font-size: 16px; }
      .about-country__info_mobile .insurance-country__description_box:first-child {
        border-bottom: 1px dotted #A0A0A0; }
      .about-country__info_mobile .insurance-country__description_box .icon {
        width: 36px; }
      .about-country__info_mobile .insurance-country__description_box .text {
        width: calc(100% - 36px);
        padding: 0 0 0 32px; }
      .about-country__info_mobile .insurance-country__description_box span {
        color: #A0A0A0; }
  .details-description {
    margin: 0 0 72px; }
    .details-description:last-child {
      margin: 0; }
    .details-description .list-cube, .details-description .list-number {
      padding: 0 0 0 20px; }
    .details-description .list-number {
      margin: 20px 0 32px; }
  .about-country__subtitle {
    font-size: 20px;
    margin: 0 0 24px; }
  .list-cube li {
    padding: 0 0 0 15px; }
    .list-cube li:before {
      width: 8px;
      height: 8px; }
  .list-number li {
    margin: 0 0 23px; }
    .list-number li:before {
      font-size: 20px;
      margin: 0 16px 0 0; }
  .btn-calculate {
    margin: 64px auto 0;
    height: 48px;
    font-size: 18px;
    padding: 0 30px; }
  .insurance-case {
    padding: 104px 0 46px; }
    .insurance-case .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
  .insurance-case-block {
    padding: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    margin: 0 0 32px; }
  .title-page {
    margin: 0 0 16px; }
  .insurance-case__icon {
    width: 50px;
    height: 50px;
    font-size: 50px; }
  .subtitle {
    font-size: 20px; }
  .insurance-case__instruction-content .list-number li:before {
    font-size: 14px;
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin: 0 12px 0 0; }
  .insurance-case__instruction-content .list-number {
    margin: 0 0 64px; }
    .insurance-case__instruction-content .list-number li {
      margin: 0 0 20px; }
  .euro-holding__info_box p, .euro-holding__info_box a {
    font-size: 16px; }
  .euro-holding__info_box .phone-mobile {
    font-size: 14px; }
  .euro-holding__description {
    font-size: 20px;
    margin: 0 0 30px; }
  .attention-box {
    font-size: 14px;
    padding: 20px; }
  .attention-box__icon {
    font-size: 20px; }
  .attention-box__text {
    width: calc(100% - 20px); }
  .euro-holding {
    padding: 100px 0 50px; }
  .image-holding__title {
    padding: 10px;
    font-size: 20px; }
  .insurance-country__description_box .description p {
    font-size: 16px; } }
